<h1 class="text-center">ADMIN DASHBOARD</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" (click)="redirectAddVendor()" type="button">Add Vendor</button>
    <button class="btn btn-success" (click)="redirectAddLaptop()" type="button">Add Laptop</button>
    <button class="btn btn-danger" (click)="redirectVendorList()" type="button">Vendor List</button>
    <button class="btn btn-secondary" (click)="redirectLaptopList()" type="button">Laptop List</button>
    <button class="btn btn-info" (click)="redirectSearchLaptop()" type="button">Search Laptop </button>
    <!--
    <button class="btn btn-info" (click)="redirectLaptopByVendor()" type="button">Search Laptop By Vendor</button>
    <button class="btn btn-warning" (click)="redirectLaptopByName()" type="button">Search Laptop By Name</button>
    -->
  </div>
