<h1 class="text-center">USER DASHBOARD</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" (click)="redirectVendorList()" type="button">Vendor List</button>
    <button class="btn btn-danger" (click)="redirectLaptopList()" type="button">Laptop List</button>
    <button class="btn btn-info" (click)="redirectSearchLaptop()" type="button">Search Laptop </button>
<!--
    <button class="btn btn-info" (click)="redirectLaptopByVendor()" type="button">Search Laptop By Vendor</button>
    <button class="btn btn-warning" (click)="redirectLaptopByName()" type="button">Search Laptop By Name</button>
-->
  </div>